<footer class="footer">
  <div class="callToAction d-flex align-items-center justify-content-center bg-primary-200">
    <span class="h4 fw-bold">加入會員取得 9 折優惠</span>
    <button class="btn btn-netural btn-sm">馬上註冊</button>
  </div>
  <div class="container">
    <div class="footer-upper d-flex align-items-center justify-content-space-between">
      <a class="logo" href="/index.html"><img src="../assets/images/icon-logo.svg" alt="URBNSTEP"></a>
      <nav>
        <ul class="d-flex align-items-center">
          <li><a class="d-block fw-medium" href="./products.html">商品列表</a></li>
          <li><a class="d-block fw-medium" href="./about.html">品牌故事</a></li>
        </ul>
      </nav>
    </div>
    <div class="footer-lower d-flex flex-column align-items-center">
      <p class="text-secondary p-sm">Copyright ©2025 URBNSTYLE</p>
      <p class="text-secondary p-sm">All Rights Reserved.</p>
    </div>
  </div>
</footer>