<header class="header container d-flex align-items-center justify-content-space-between">
  <h1><a class="logo d-block lh-0" href="./index.html"><img src="../assets/images/icon-logo.svg" alt="URBNSTEP"></a></h1>
  <%- include('./layout/mainNav'); -%>
  <a class="login-icon d-flex justify-content-center align-items-center" href="./login.html">
    <span>Login</span>
  </a>
</header> 