<nav>
  <ul class="d-flex align-items-center">
    <li><a class="d-block products" href="./products.html">商品列表</a></li>
    <li><a class="d-block about" href="./about.html">品牌故事</a></li>
  </ul>
</nav>