<nav class="pagination d-flex justify-content-center">
  <ul class="d-flex">
    <li>
      <a
        href="javascript:;"
        class="prev icon-icon-arrow-left disabled"
        ><span class="sr-only">上一頁</span></a
      >
    </li>
    <li><a href="javascript:;" class="selected">1</a></li>
    <li><a href="javascript:;">2</a></li>
    <li><a href="javascript:;">3</a></li>
    <li><a href="javascript:;">...</a></li>
    <li><a href="javascript:;">10</a></li>
    <li>
      <a href="javascript:;" class="next icon-icon-arrow-right"
        ><span class="sr-only">下一頁</span></a
      >
    </li>
  </ul>
</nav>