.btn {
  display: inline-block;
  text-align: center;
  padding: .75rem 1.5rem;
  line-height: $line-height;
  letter-spacing: $letter-spacing-s;
  font-size: 1rem;
  border-radius: $radius-sm;
  transition: all .3s ease;

  // button size
  &-sm {
    padding: .5rem 1rem;
  }

  // button color size
  &-primary {
    background-color: $primary-300;
    &:hover {
      color: $primary-500;
    }
    &:focus {
      filter: drop-shadow(0px 0px 3px $primary-300);
    }
  }

  &-netural {
    background-color: $neutral-900;
    color: $light;
    &:hover {
      background-color: $neutral-700;
    }
    &:focus {
      filter: drop-shadow(0px 0px 3px rgba($neutral-900, 0.1));
    }
  }

  &-outline {
    background-color: $light;
    border: 1px solid $neutral-900;
    color: $neutral-900;

    &:hover,
    &.selected {
      background-color: $neutral-900;
      border: 1px solid $neutral-900;
      color: $light;
    }

    & > span {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: .5rem;
      padding: 0;

      &:before {
        display: block;
        width: 20px;
        height: 20px;
        font-family: 'icomoon';
        font-size: 20px;
        line-height: 20px;
      }
      
    }

    &.btn-heart > span:before {
      content: '\e90b';
    }

    &.btn-heart.active > span:before {
      content: '\e90f';
    }

    &.btn-bag > span:before {
      content: '\e90a';
    }
  }
}