.pagination {
  margin-bottom: 2rem;

  ul {
    gap: 0.75rem;
  }

  a {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: var(--neutral-900);
    transition: background-color 0.3s ease;

    &:hover,
    &:focus {
      background-color: $neutral-100;
    }

    &.prev span,
    &.next span {
      font-size: 0;
    }

    &.selected {
      background-color: $primary-300;
    }

    &.disabled {
      color: $neutral-600;
      cursor: not-allowed;
      pointer-events: none;
    }
  }
}
